body {
    background-color: orange;
    font: verdana, arial, sans-serif;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: rgb(56, 116, 158);
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}